@import 'tailwindcss';

@theme {
  --color-green-500: #56a79a;
}

.container {
  @apply w-[95%] mx-auto;
}

.bg {
  background: url('./assets/showcase.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.feature-bg {
  background: url('./assets/phone1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 990px) {
  .container {
    @apply w-[80%];
  }
}

@media screen and (min-width: 778px) {
  .container {
    @apply w-[85%];
  }
}
